@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");

/* html {
  scroll-behavior: smooth;
} */

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  color: #404040;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

input,
textarea {
  border: 0;
  padding: 0.75rem 0.5rem;
  box-shadow: 0 0 5px black;
  font-family: inherit;
  border-radius: 3px;
}

textarea {
  min-height: 20ch;
}

.button {
  border: 0;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 0 5px black;
  font-family: inherit;
  border-radius: 3px;
  background-color: transparent;
  text-decoration: none;
  color: #6ec1e4;
  border: 2px solid #6ec1e4;
  transition: background-color 0.2s ease, color 0.2s ease, opacity 0.2s ease;
  display: inline-block;
}

.button:hover {
  color: #fff;
  background-color: #6ec1e4;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
}

a {
  color: inherit;
}

.white-color {
  color: #fff !important;
}

.bbb {
  border-bottom: 2px solid #6ec1e4;
}

.invisible {
  position: relative;
  left: -5000px;
}

.stickyVideo {
  position: fixed !important;
  top: -90vh !important;
  z-index: 1 !important;
}

@media (max-width: 900px) {
  .stickyVideo {
    top: -87.5vh !important;
  }
}

.dark-section {
  background-color: #222c2a;
  color: white !important;
}

.dark p,
.dark h3 {
  color: white !important;
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.active::after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 100%;
  background: #6ec1e4;
}

.display-none {
  display: none;
}

.no-margin {
  margin: 0;
}

.navigation-open {
  transform: translateX(-100%) !important;
}

.max-width {
  max-width: 700px;
}

.text-center {
  text-align: center;
}

.align-center {
  margin: 0 auto;
}

video {
  /* override other styles to make responsive */
  width: 100% !important;
  height: auto !important;
}

iframe {
  width: 100% !important;
  height: auto !important;
}

@media (min-width: 900px) {
  iframe {
    width: 100% !important;
    min-height: 320px !important;
  }
}

li:hover:not(.call-us),
li:focus-within {
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: #fff;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.desktop-nav-item {
  color: white;
}

.desktop-sub-link {
  color: #404040;
}

.desktop-sub-nav {
  padding: 60px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 13%);
  margin-top: 14px;
}

.desktop-sub-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.call-us {
  color: #6ec1e4;
  cursor: unset;
}

.box-shadow {
  box-shadow: 0 12px 44px 0 rgb(37 25 149 / 22%);
}

.desktop-nav-item:last-child(.desktop-sub-nav) {
  right: 0;
}
