@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");

/* html {
  scroll-behavior: smooth;
} */

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

input,
textarea {
  border: 0;
  padding: 0.75rem 0.5rem;
  box-shadow: 0 0 5px black;
  font-family: inherit;
  border-radius: 3px;
}

textarea {
  min-height: 20ch;
}

.button {
  border: 0;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 0 5px black;
  font-family: inherit;
  border-radius: 3px;
  background-color: #fff;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  color: #404040;
}

.white-color {
  color: #fff;
}

.bbb {
  border-bottom: 2px solid #6ec1e4;
}

.invisible {
  position: relative;
  left: -5000px;
}

.stickyVideo {
  position: fixed !important;
  top: -90vh !important;
  z-index: 1 !important;
}

@media (max-width: 900px) {
  .stickyVideo {
    top: -87.5vh !important;
  }
}

.dark-section {
  background-color: #222c2a;
  color: white !important;
}

.dark p,
.dark h3 {
  color: white !important;
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.active::after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 100%;
  background: #6ec1e4;
}

.display-none {
  display: none;
}

.no-margin {
  margin: 0;
}

.navigation-open {
  transform: translateX(-100%) !important;
}
