@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  color: #404040;
}

.bbb {
  border-bottom: 2px solid #6ec1e4;
}

.invisible {
  position: relative;
  left: -5000px;
}

.stickyVideo {
  position: fixed !important;
  top: -90vh !important;
  z-index: 1 !important;
}

.dark-section {
  background-color: #222c2a;
  color: white !important;
}

.dark p,
.dark h3 {
  color: white !important;
}
